#torre-player-info {
    background-color: chocolate;
    color: whitesmoke;
    padding: 0.5em;
}

#torre-player-info #titulo {
    color: whitesmoke;
}


#torreOutput {
    margin: 0.5em 0;
    border: darkgray solid 1px;
    padding: 0.5em;
}

a {
  text-decoration: none;
}

.agenda-checkboxes-show {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0 1.5em;
}

/*.agenda-checkboxes-show > div {*/
/*    padding: 0 0.5em;*/
/*}*/

.agenda-checkboxes-hidden {
    display: none;
}