<!DOCTYPE html>
<html lang="pt-BR">
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="torrePlayerInfo" type="br.nom.figueiredo.sergio.torreplayer.service.TorrePlayerInfo"*/-->
<head th:replace="~{base :: head}"></head>
<body>
<div class="container">
    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="../index.html" th:href="@{/}">
            <i class="bi bi-house-fill"></i> In&iacute;cio</a>

        <a class="btn btn-primary" role="button" th:if="${torrePlayerInfo.musica}"
           href="../album.html" th:href="@{/album/{albumNome}(albumNome=${torrePlayerInfo.musica.album.nome})}">
            <i class="bi bi-music-note-list"></i> Álbum</a>
    </div>

    <pre id="torreOutput">

    </pre>
</div>

<div th:replace="~{base:: scripts}"></div>
</body>
</html>