<!--/*@thymesVar id="cfg" type="br.nom.figueiredo.sergio.torreplayer.model.Configuracoes"*/-->
<div th:fragment="midia-card">
    <div class="card" th:if="${agendamento.tipo.name() == 'MUSICA'}">
        <div class="card-body">
            <h5 class="card-title">Informações da M&uacute;sica</h5>
            <p class="card-text">
                <strong>&Aacute;lbum:</strong>
                <a href="album.html" th:href="@{/album/{albumNome}(albumNome=${agendamento.musica.album.nome})}">
                    <span th:text="${agendamento.musica.album.nome}">Nome do &aacute;lbum</span></a><br>
                <strong>Música:</strong> <span th:text="${agendamento.musica.nome}"></span>
            </p>
        </div>
    </div>
    <div class="card" th:if="${agendamento.tipo.name() == 'ALBUM'}">
        <div class="card-body">
            <h5 class="card-title">Informações do &Aacute;lbum</h5>
            <p class="card-text">
                <strong>&Aacute;lbum:</strong>
                <a href="album.html" th:href="@{/album/{albumNome}(albumNome=${agendamento.album.nome})}">
                    <span th:text="${agendamento.album.nome}">Nome do &aacute;lbum</span></a><br>
            </p>
        </div>
    </div>
    <div class="card" th:if="${agendamento.tipo.name()=='PARAR'}">
        <div class="card-body">
            <h5 class="card-title">Parar Música</h5>
            <p class="card-text">
                Programação do horário para parar a música que estiver tocando.
            </p>
        </div>
    </div>

</div>

<div th:fragment="form">
    <label class="form-label">Agendamento</label>
    <div class="row g-3">
        <!-- Dias do Mês -->
        <input type="hidden" id="diasMesHidden" name="diasMes">
        <div class="col-md-3">
            <label class="form-label">Dias do Mês</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoDiasMes" id="todosDiasMes"
                       value="todos" checked
                       onchange="toggleDiasMes()">
                <label class="form-check-label" for="todosDiasMes">
                    Todos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoDiasMes" id="diasMesEspecificos"
                       value="especificos"
                       onchange="toggleDiasMes()">
                <label class="form-check-label" for="diasMesEspecificos">
                    Selecionar Dias
                </label>
            </div>

            <div id="checkboxesDiasMes" class="agenda-checkboxes-hidden">
                <div th:each="dia : ${#numbers.sequence(1,31)}" class="form-check">
                    <input class="form-check-input dia-mes" type="checkbox" th:value="${dia}"
                           th:id="'dia' + ${dia}">
                    <label class="form-check-label" th:for="'dia' + ${dia}"
                           th:text="${#numbers.formatInteger(dia,2)}">01</label>
                </div>
            </div>
        </div>

        <!-- Meses -->
        <input type="hidden" id="mesesHidden" name="meses">

        <div class="col-md-3">
            <label class="form-label">Meses</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoMeses" id="todosMeses"
                       value="todos" checked
                       onchange="toggleMeses()">
                <label class="form-check-label" for="todosMeses">
                    Todos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoMeses" id="mesesEspecificos"
                       value="especificos"
                       onchange="toggleMeses()">
                <label class="form-check-label" for="mesesEspecificos">
                    Selecionar Meses
                </label>
            </div>

            <div id="checkboxesMeses" class="agenda-checkboxes-hidden">
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="1" id="janeiro">
                    <label class="form-check-label" for="janeiro">Janeiro</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="2" id="fevereiro">
                    <label class="form-check-label" for="fevereiro">Fevereiro</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="3" id="marco">
                    <label class="form-check-label" for="marco">Março</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="4" id="abril">
                    <label class="form-check-label" for="abril">Abril</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="5" id="maio">
                    <label class="form-check-label" for="maio">Maio</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="6" id="junho">
                    <label class="form-check-label" for="junho">Junho</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="7" id="julho">
                    <label class="form-check-label" for="julho">Julho</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="8" id="agosto">
                    <label class="form-check-label" for="agosto">Agosto</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="9" id="setembro">
                    <label class="form-check-label" for="setembro">Setembro</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="10" id="outubro">
                    <label class="form-check-label" for="outubro">Outubro</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="11" id="novembro">
                    <label class="form-check-label" for="novembro">Novembro</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mes" type="checkbox" value="12" id="dezembro">
                    <label class="form-check-label" for="dezembro">Dezembro</label>
                </div>
            </div>
        </div>

        <!-- Dias da semana -->
        <input type="hidden" id="diasSemanaHidden" name="diasSemana">

        <div class="col-md-2">
            <label class="form-label">Dias da Semana</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoDiasSemana" id="todosDias"
                       value="todos" checked
                       onchange="toggleDiasSemana()">
                <label class="form-check-label" for="todosDias">
                    Todos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoDiasSemana" id="diasEspecificos"
                       value="especificos"
                       onchange="toggleDiasSemana()">
                <label class="form-check-label" for="diasEspecificos">
                    Selecionar Dias
                </label>
            </div>

            <div id="checkboxesDiasSemana" class="agenda-checkboxes-hidden">
                <div class="form-check">
                    <input class="form-check-input dia-semana" type="checkbox" value="0" id="domingo">
                    <label class="form-check-label" for="domingo">Domingo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input dia-semana" type="checkbox" value="1" id="segunda">
                    <label class="form-check-label" for="segunda">Segunda</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input dia-semana" type="checkbox" value="2" id="terca">
                    <label class="form-check-label" for="terca">Terça</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input dia-semana" type="checkbox" value="3" id="quarta">
                    <label class="form-check-label" for="quarta">Quarta</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input dia-semana" type="checkbox" value="4" id="quinta">
                    <label class="form-check-label" for="quinta">Quinta</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input dia-semana" type="checkbox" value="5" id="sexta">
                    <label class="form-check-label" for="sexta">Sexta</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input dia-semana" type="checkbox" value="6" id="sabado">
                    <label class="form-check-label" for="sabado">Sábado</label>
                </div>
            </div>
        </div>

        <!-- Horas -->
        <input type="hidden" id="horasHidden" name="horas">
        <div class="col-md-2">
            <label class="form-label">Horas</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoHoras" id="todasHoras"
                       value="todos" checked
                       onchange="toggleHoras()">
                <label class="form-check-label" for="todasHoras">
                    Todas
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoHoras" id="horasEspecificas"
                       value="especificos"
                       onchange="toggleHoras()">
                <label class="form-check-label" for="horasEspecificas">
                    Selecionar Horas
                </label>
            </div>

            <div id="checkboxesHoras" class="agenda-checkboxes-hidden">
                <div th:each="hora : ${#numbers.sequence(0,23)}" class="form-check">
                    <input class="form-check-input hora" type="checkbox" th:value="${hora}"
                           th:id="'hora' + ${hora}">
                    <label class="form-check-label" th:for="'hora' + ${hora}"
                           th:text="${#numbers.formatInteger(hora,2)}">00</label>
                </div>
            </div>
        </div>

        <!-- Minutos -->
        <input type="hidden" id="minutosHidden" name="minutos">
        <div class="col-md-2">
            <label class="form-label">Minutos</label>
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="radio" name="tipoMinutos" id="todosMinutos"-->
<!--                       value="todos" disabled-->
<!--                       onchange="toggleMinutos()">-->
<!--                <label class="form-check-label" for="todosMinutos">-->
<!--                    Todos-->
<!--                </label>-->
<!--            </div>-->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoMinutos" id="minutosEspecificos"
                       value="especificos"
                       onchange="toggleMinutos()">
                <label class="form-check-label" for="minutosEspecificos">
                    Minutos espec&iacute;ficos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipoMinutos" id="minutosMultiplosDeCinco"
                       value="especificos" checked
                       onchange="toggleMinutos()">
                <label class="form-check-label" for="minutosEspecificos">
                    Múltiplos de 5
                </label>
            </div>

            <div id="checkboxesMinutos" class="agenda-checkboxes-hidden">
                <div th:each="minuto : ${#numbers.sequence(0,59)}" class="form-check"
                     th:classappend="${minuto % 5 == 0 ? 'minutoMultiploDeCinco' : ''}">
                    <input class="form-check-input minuto" type="checkbox" th:value="${minuto}"
                           th:id="'min' + ${#numbers.formatInteger(minuto,2)}"
                           th:name="'min' + ${#numbers.formatInteger(minuto,2)}">
                    <label class="form-check-label" th:for="'min' + ${#numbers.formatInteger(minuto,2)}"
                           th:text="${#numbers.formatInteger(minuto,2)}">00</label>
                </div>
            </div>
        </div>

    </div>

</div>
