<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="cfg" type="br.nom.figueiredo.sergio.torreplayer.model.Configuracoes"*/-->
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="agendamentos" type="java.util.List<br.nom.figueiredo.sergio.torreplayer.model.AgendamentoMusica>"*/-->
<body>
<div class="container">

    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="index.html" th:href="@{/}">
            <i class="bi bi-house-fill"></i> In&iacute;cio</a>

        <a class="btn btn-primary" role="button"
           href="/agendamento/parar"
           th:href="@{/agendamento/parar}">
            <i class="bi bi-calendar-plus"></i> Agendar Silêncio</a>
    </div>

    <h2>Agendamentos</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="agendamento : ${agendamentos}">
            <div class="row">
                <div class="col-2">
            <span class="form-switch">
            <input class="form-check-input" type="checkbox" role="switch"
                   th:data-agendamento-id="${agendamento.id}"
                   th:id="'ativo' + ${agendamento.id}"
                   onclick="toogleAgendamentoAtivoCheckbox(this)"
                   th:checked="${agendamento.ativo}">
            </span>

                    <span th:switch="${agendamento.tipo.name()}">
                <i class="bi bi-volume-mute-fill" th:case="'PARAR'"></i>
                <i class="bi bi-music-note" th:case="'MUSICA'"></i>
                <i class="bi bi-vinyl-fill" th:case="'ALBUM'"></i>
                <i class="bi bi-music-note-list" th:case="'PLAYLIST'"></i>
            </span>
                </div>

                <div class="col-10">
                    <!-- Adicionando o próximo evento -->
                    <small class="text-muted ms-2">
                        Próximo: <span th:id="'proximo-evento-' + ${agendamento.id}">Carregando...</span>
                    </small>
                </div>
            </div>
            <div class="row">
                <span th:text="${agendamento.nome}" class="col-12">Nome do agendamento</span>
            </div>

            <div class="row">
                <a class="col-3 offset-5 btn btn-primary" role="button"
                   href="/editar_agenda"
                   th:href="@{/agendamento/{agendamentoId}(agendamentoId=${agendamento.id})}">
                    <i class="bi bi-pencil-square"></i> Alterar</a>

                <a class="col-3 offset-1 btn btn-danger" role="button"
                   href="/excluir_agenda"
                   th:href="@{/agendamento/{agendamentoId}/exclusao(agendamentoId=${agendamento.id})}">
                    <i class="bi bi-trash"></i> Remover</a>
            </div>
        </li>
    </ul>

    <div th:if="${agendamentos.isEmpty()}">
        Não há agendamentos.
    </div>

</div>
<div th:replace="~{base:: scripts}"></div>
<script src="/static/js/agendamento.js" th:src="@{/js/agendamento.js(c=${@cachePreventNumber})}"></script>
<script th:inline="javascript">
    // Chama a função quando a página carregar
    document.addEventListener('DOMContentLoaded', carregarProximosEventos);
</script>
</body>
</html>