<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="cfg" type="br.nom.figueiredo.sergio.torreplayer.model.Configuracoes"*/-->
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="agendamentos" type="java.util.List<br.nom.figueiredo.sergio.torreplayer.model.AgendamentoMusica>"*/-->
<body>
<div class="container">

    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="index.html" th:href="@{/}">
            <i class="bi bi-house-fill"></i> In&iacute;cio</a>
    </div>

    <h2>Agendamentos</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="agendamento : ${agendamentos}">
            <span th:text="${agendamento.nome}">Nome do agendamento</span>

            <div class="float-end">
                <a class="btn btn-primary" role="button"
                   href="/editar_agenda"
                   th:href="@{/agendamento/{agendamentoId}(agendamentoId=${agendamento.id})}">
                    <i class="bi bi-pencil-square"></i> Alterar</a>

                <!-- Button trigger modal delete confirmation -->
                <a class="btn btn-primary" role="button"
                   href="/excluir_agenda"
                   th:href="@{/agendamento/{agendamentoId}/exclusao(agendamentoId=${agendamento.id})}">
                    <i class="bi bi-trash"></i> Remover</a>
            </div>
        </li>
    </ul>

    <div th:if="${agendamentos.isEmpty()}">
        Não há agendamentos.
    </div>

</div>
<div th:replace="~{base:: scripts}"></div>

</body>
</html>