<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="albums" type="java.util.List<br.nom.figueiredo.sergio.torreplayer.model.Album>"*/-->
<!--/*@thymesVar id="album" type="br.nom.figueiredo.sergio.torreplayer.model.Album"*/-->
<!--/*@thymesVar id="musicas" type="java.util.List<br.nom.figueiredo.sergio.torreplayer.model.Musica>"*/-->
<!--/*@thymesVar id="musica" type="br.nom.figueiredo.sergio.torreplayer.model.Musica"*/-->
<body>
<div class="container">

    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="index.html" th:href="@{/}">
            <i class="bi bi-house-fill"></i> In&iacute;cio</a>
    </div>

    <h2>&Aacute;lbum "<span th:text="${album.nome}">Nome do &Aacute;lbum</span>"</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="musica : ${musicas}">
            <span th:text="${musica.nome}">Nome da M&uacute;sica</span>
            <audio controls preload="none">
                <source src="/album/relogio/2QUART.mp3"
                        th:src="@{/album/{albumNome}/{musicaNome}(albumNome=${album.nome},musicaNome=${musica.nome})}"
                        type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a class="btn btn-primary float-end torreEmSilencio" role="button" style="display: none"
               href="/torre/relogio/2QUART.mp3"
               th:href="@{/torre/{albumNome}/{musicaNome}(albumNome=${album.nome},musicaNome=${musica.nome})}">
                <i class="bi bi-play-circle-fill"></i> Torre</a>
        </li>
    </ul>
</div>
<div th:replace="~{base:: scripts}"></div>
</body>
</html>