<!--/*@thymesVar id="cfg" type="br.nom.figueiredo.sergio.torreplayer.model.Configuracoes"*/-->
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="torrePlayerInfo" type="br.nom.figueiredo.sergio.torreplayer.service.TorrePlayerInfo"*/-->
<!--/*@thymesVar id="album" type="br.nom.figueiredo.sergio.torreplayer.model.Album"*/-->

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torre Player</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/torreplayer.css" th:href="@{/css/torreplayer.css(c=${@cachePreventNumber})}">
</head>

<div th:fragment="torre-player-info" class="row mb-3" id="torre-player-info">
    <!-- Torre Player Info -->
    <div class="col-8">
        <h2><a th:href="@{/torre/info}" id="titulo">M&iacute;dia <span class="torreMusicaNome">---</span></a></h2>
        <div class="torreTocando" style="display: none">Em execução.</div>
        <div class="torreEmSilencio" style="display: none">Nenhuma m&iacute;dia tocando.</div>
    </div>
    <div class="col-4">
        <div class="torreTocando" style="display: none">
            <button class="btn btn-primary" role="button" onclick="torreStop()">
                <i class="bi bi-stop-circle-fill"></i> Parar
            </button>
        </div>
        <div class="torreEmSilencio" style="display: none" >
            <button class="btn btn-primary" role="button" id="torrePlayButton">
                <i class="bi bi-play-circle-fill"></i> <span th:text="${cfg.cmdLabel}">Torre</span>
            </button>
        </div>
    </div>
</div>

<div th:fragment="volume-control">
    <div class="volumeControl">
        <label for="masterVolumeInput" class="form-label">Master Volume: <span id="volume">...</span></label>
        <input type="range" class="form-range" id="masterVolumeInput" min="0" max="1000" step="10"
               onchange="masterVolumeInputChange()" disabled>
    </div>
</div>

<div th:fragment="top-page">
    <div class="alert alert-info" role="alert" th:if="${!#strings.isEmpty(msg)}">
        <span th:text="${msg}">A simple info alert—check it out!</span>
    </div>

    <div th:replace="~{base :: torre-player-info}"></div>

</div>

<div th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        let URL = {
            apiTorreInfo: /*[[@{/api/torre/info}]]*/ "/example/api/torre/info.json",
            apiTorrePlay: /*[[@{/api/torre/play}]]*/ "/example/api/torre/play.json",
            apiTorreStop: /*[[@{/api/torre/stop}]]*/ "/example/api/torre/stop.json",
            apiConfig: /*[[@{/api/config}]]*/ "/example/api/config.json",
            apiUrlBase: /*[[@{/api}]]*/ "/example/"
        };
    </script>
    <script src="/static/js/torrePlayer.js" th:src="@{/js/torrePlayer.js(c=${@cachePreventNumber})}" ></script>
</div>