<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="agendamento" type="br.nom.figueiredo.sergio.torreplayer.model.AgendamentoMusica"*/-->
<body>
<div class="container">
    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="agendamentos.html" th:href="@{/agendamento}">
            <i class="bi bi-calendar3"></i> Agendamentos</a>
    </div>

    <h2>Agendamento <span th:text="'#'+${agendamento.id}">#129</span></h2>

    <div class="form-switch mb-3">
        <div th:text="${'O agendamento está '+(agendamento.ativo?'ATIVO':'INATIVO')}"></div>
    </div>

    <div th:insert="~{agenda-base::midia-card}" class="mb-3"></div>

    <div>
        <div class="mb-3">
            <div>Nome</div>
            <div class="fw-bold" th:text="${agendamento.nome}"></div>
        </div>
        <div class="mb-3">
            <div>Agendamento</div>
            <div class="fw-bold" id="cron-expression">&nbsp;</div>
        </div>
        <div class="mb-3">
            <div>Próximos eventos</div>
            <div id="prox-eventos">&nbsp;</div>
        </div>
    </div>
</div>
<div th:replace="~{base:: scripts}"></div>
<script src="/static/js/agendamento.js" th:src="@{/js/agendamento.js(c=${@cachePreventNumber})}"></script>
<script th:inline="javascript">
    function proximosEventos(agendamentoId) {
        const element = document.getElementById('prox-eventos');
        element.innerHTML = '';
        getProximoEvento(agendamentoId, 0, 10)
            .then(data => {
                if (data && data.length > 0) {
                    data.forEach(item => {
                        const evento = new Date(item.evento);
                        const dataStr = evento.toLocaleString('pt-BR', {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric',
                            hour: '2-digit',
                            minute: '2-digit'
                        });
                        const proxEvtElem = document.createElement('div');
                        proxEvtElem.classList.add('fw-bold');
                        proxEvtElem.textContent = dataStr;
                        element.appendChild(proxEvtElem);
                    });
                }
            })
            .catch(error => {
                element.textContent = 'Erro ao carregar.';
                console.error('Erro:', error);
            })
    }

    let agendamento = {
        id: /*[[${agendamento.id}]]*/ 1,
        cronExpression: /*[[${agendamento.cronExpression}]]*/ "0 12,13 * * * *"
    };

    document.getElementById('cron-expression').textContent =
        humanReadableCronExpression(agendamento.cronExpression);

    proximosEventos(agendamento.id);

</script>
</body>
</html>
