<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="cfg" type="br.nom.figueiredo.sergio.torreplayer.model.Configuracoes"*/-->
<!--/*@thymesVar id="agendamento" type="br.nom.figueiredo.sergio.torreplayer.model.AgendamentoMusica"*/-->
<body>
<div class="container">
    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="agendamentos.html" th:href="@{/agendamento}">
            <i class="bi bi-calendar3"></i> Agendamentos</a>
    </div>

    <h2>Editar Agendamento <span th:text="${agendamento.id == 0} ? 'Novo' : '#'+${agendamento.id}"></span></h2>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Informações da Música</h5>
            <p class="card-text">
                <strong>Álbum:</strong>
                <a href="album.html" th:href="@{/album/{albumNome}(albumNome=${agendamento.musica.album.nome})}">
                    <span th:text="${agendamento.musica.album.nome}">Nome do álbum</span></a><br>
                <strong>Música:</strong> <span th:text="${agendamento.musica.nome}"></span>
            </p>
        </div>
    </div>
    <div>
        <form method="POST" enctype="multipart/form-data" action=""
              th:action="@{/agendamento/{agendamentoId}(agendamentoId=${agendamento.id})}">
            <input type="hidden" name="albumNome" th:value="${agendamento.musica.album.nome}">
            <input type="hidden" name="musicaNome" th:value="${agendamento.musica.nome}">
            <input type="hidden" name="playlistNome" value="">
            <input type="hidden" name="tipo" value="MUSICA">
            <input type="hidden" id="cronExpression" name="cronExpression">
            <input type="hidden" id="originalCronExpression" name="originalCronExpression" th:value="${agendamento.cronExpression}">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nomeHelp" size="28"
                th:value="${agendamento.nome}">
                <div id="nomeHelp" class="form-text">Nome do agendamento.</div>
            </div>

            <div th:replace="~{agenda-base::form}" class="mb-3"></div>

            <button type="submit" class="btn btn-primary" onclick="montarCronExpression()"><i
                    class="bi bi-pencil-square"></i> Salvar
            </button>

        </form>
    </div>
</div>
<div th:replace="~{base:: scripts}"></div>
<script src="/static/js/agendamento.js" th:src="@{/js/agendamento.js(c=${@cachePreventNumber})}" ></script>
</body>
</html>
