<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="agendamento" type="br.nom.figueiredo.sergio.torreplayer.model.AgendamentoMusica"*/-->
<body>
<div class="container">
    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="agendamentos.html" th:href="@{/agendamento}">
            <i class="bi bi-calendar3"></i> Agendamentos</a>
    </div>

    <h2>Editar Agendamento <span th:text="${agendamento.id == 0} ? 'Novo' : '#'+${agendamento.id}"></span></h2>

    <div class="form-switch mb-3" th:if="${agendamento.id!=0}">
        <input class="form-check-input" type="checkbox" role="switch"
               id="ativo" name="ativo" th:data-agendamento-id="${agendamento.id}"
               th:checked="${agendamento.ativo}"
                onchange="toogleAgendamentoAtivoCheckbox(this)">
        <label class="form-check-label" for="ativo">Ativo</label>
    </div>

    <div th:insert="~{agenda-base::midia-card}" class="mb-3"></div>

    <div id="form-erros">
    </div>

    <template id="template-erro">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <span>Mensagem de erro.</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </template>

    <div>
        <form id="agendamento-form" method="POST" enctype="multipart/form-data" action=""
              th:action="@{/agendamento/{agendamentoId}(agendamentoId=${agendamento.id})}">
            <input type="hidden" name="tipo" th:value="${agendamento.tipo}">
            <input type="hidden" name="albumNome" th:value="${agendamento.album.nome}"
                   th:if="${agendamento.tipo.name()=='ALBUM'}">
            <input type="hidden" name="albumNome" th:value="${agendamento.musica.album.nome}"
                   th:if="${agendamento.tipo.name()=='MUSICA'}">
            <input type="hidden" name="musicaNome" th:value="${agendamento.musica.nome}"
                   th:if="${agendamento.tipo.name()=='MUSICA'}">
            <input type="hidden" name="playlistNome" th:value="${agendamento.playlist.nome}"
                   th:if="${agendamento.tipo.name()=='PLAYLIST'}">
            <input type="hidden" id="cronExpression" name="cronExpression">
            <input type="hidden" id="originalCronExpression" name="originalCronExpression"
                   th:value="${agendamento.cronExpression}">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nomeHelp" size="28"
                       th:value="${agendamento.nome}">
                <div id="nomeHelp" class="form-text">Nome do agendamento.</div>
            </div>

            <div class="form-switch mb-3"
                 th:if="${agendamento.tipo.name()=='ALBUM' || agendamento.tipo.name()=='PLAYLIST'}">
                <input class="form-check-input" type="checkbox" role="switch"
                       id="random" name="random"
                       th:checked="${agendamento.random}">
                <label class="form-check-label" for="random">Aleatório</label>
            </div>

            <div class="form-switch mb-3"
                 th:if="${agendamento.tipo.name()=='MUSICA' || agendamento.tipo.name()=='ALBUM' || agendamento.tipo.name()=='PLAYLIST'}">
                <input class="form-check-input" type="checkbox" role="switch"
                       id="repeat" name="repeat"
                       th:checked="${agendamento.repeat}">
                <label class="form-check-label" for="repeat">Repetir</label>
            </div>

            <div th:replace="~{agenda-base::form}" class="mb-3"></div>

            <button type="submit" class="btn btn-primary" onclick="montarCronExpression()"><i
                    class="bi bi-pencil-square"></i> Salvar
            </button>

        </form>
    </div>
</div>
<div th:replace="~{base:: scripts}"></div>
<script src="/static/js/agendamento.js" th:src="@{/js/agendamento.js(c=${@cachePreventNumber})}"></script>
<script th:inline="javascript">
    // Executa quando a página carregar
    document.addEventListener('DOMContentLoaded', carregarCronExpression);

    const form = document.getElementById('agendamento-form');

    function publica_erros(erros) {
        // publica os erros em span dentro de form-erros
        let formErros = document.getElementById('form-erros');
        formErros.innerHTML = '';

        erros.forEach(erro => {
            const template = document.getElementById('template-erro');
            const erroMsg = template.content.cloneNode(true);
            let span = erroMsg.querySelector('span');
            span.innerHTML = erro;
            formErros.appendChild(erroMsg);
        })
        formErros.scrollIntoView({behavior: 'smooth', block: 'start'});
    }

    form.addEventListener('submit', function(event) {
        const erros = validarForm()

        if (erros.length > 0) {
            // Prevents the default form submission
            event.preventDefault();
            event.stopPropagation()
            publica_erros(erros);

        } else {
            montarCronExpression();
        }
    });
</script>
</body>
</html>
