<!DOCTYPE html>
<html lang="pt">
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="torrePlayerInfo" type="br.nom.figueiredo.sergio.torreplayer.service.TorrePlayerInfo"*/-->
<head th:replace="~{base :: head}"></head>
<body>
<div class="container">
    <div id="errorMessage">
        Alguma coisa deu errado. Provavelmente a página que você tentou acessar não existe.
        Consulte os logs do servidor para mais informações.
    </div>

    <div class="mb-3">
        <a class="btn btn-primary" role="button"
           href="index.html" th:href="@{/}">
            <i class="bi bi-house-fill"></i> In&iacute;cio</a>

    </div>

</div>

</body>
</html>