<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="albums" type="java.util.List<br.nom.figueiredo.sergio.torreplayer.model.Album>"*/-->
<!--/*@thymesVar id="album" type="br.nom.figueiredo.sergio.torreplayer.model.Album"*/-->
<body>
<div class="container">

    <div th:replace="~{base::top-page}"></div>

    <div class="mb-3">
        <a class="btn btn-primary mb-3" role="button"
           href="novo_album.html" th:href="@{/album/novo-album}">
            <i class="bi bi-music-note-list"></i> Novo &Aacute;lbum</a>
        <a class="btn btn-primary mb-3" role="button"
           href="agendamentos.html" th:href="@{/agendamento}">
            <i class="bi bi-calendar3"></i> Agendamentos</a>
        <a class="btn btn-primary mb-3" role="button"
           href="editar_config.html" th:href="@{/config}">
            <i class="bi bi-gear"></i> Configura&ccedil;&otilde;es</a>
    </div>

    <h2>Álbuns</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="album : ${albums}">
            <a href="album.html" th:href="@{/album/{albumNome}(albumNome=${album.nome})}"><span th:text="${album.nome}">Nome do álbum</span></a>
        </li>
    </ul>

</div>

<div th:replace="~{base:: scripts}"></div>
</body>
</html>