<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<!--/*@thymesVar id="albums" type="java.util.List<br.nom.figueiredo.sergio.torreplayer.model.Album>"*/-->
<!--/*@thymesVar id="album" type="br.nom.figueiredo.sergio.torreplayer.model.Album"*/-->
<body>
<div class="container">

    <div th:replace="~{base::top-page}"></div>

    <h2>Álbuns</h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="album : ${albums}">
            <a href="album.html" th:href="@{/album/{albumNome}/(albumNome=${album.nome})}"><span th:text="${album.nome}">Nome do álbum</span></a>
        </li>
    </ul>

</div>

<div th:replace="~{base:: scripts}"></div>
</body>
</html>